//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('../public/fonts/Caveat/static/Caveat-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}
$black: #2e2e2e;
$oranges: #FF752E;
body{
    overflow-x: hidden;
}

ul.flex-list{
    li{
        list-style: disc !important;
        margin-left: 30px;

        &:nth-child(1){
            list-style: none !important;
            margin-left: 0px;
        }
        
    }
}

.border-text{
    color: $oranges;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: $oranges;
}
.capace-oranges{
    color: #FF752E;
}
.fucking-img{
    height: 100%;

}

.capace-button{
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid $black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: $black;
    transition: ease-in-out .3s;
        &:hover{
            transform: scale(1.1);
            color: $oranges;
            border: 1px solid $oranges;

        }
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.bg-capace{
    background-color: #191919;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    margin-bottom: .65em !important;
}

h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;

}

p, span, a{
    font-family: 'Poppins', sans-serif;
}

.img-shadow{
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.15);
}

.page_title{
    
    div{
        line-height: .6;
            &:nth-child(1){
                margin-bottom: .4em;
            }
            &:nth-child(2){
                margin-bottom: .45em;
            }
            &:nth-child(3){
                font-family: 'Caveat', cursive ;
                color: #FF752E ;
                font-size: 4.375rem;
            }
    }
}

.team-card{
    &:nth-child(odd){
        margin-top: 80px;
    }
}


@import 'layout/nav';
@import 'pages/hero';
@import 'pages/service-page';